body, html {
  height: 100%;
  background: #202020;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar { 
  width: 0 !important;
  height: 0 !important;
}

.explanation-active {
  background: red;
}

#bottom {
  height: 2em;
  width: 2em;
  position: absolute;
  bottom:  -50px;
}